/*
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.17.0).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package de.workshops.ticketvendorapi;

import de.workshops.ticketvendorapi.model.Event;
import de.workshops.ticketvendorapi.model.EventCategory;
import de.workshops.ticketvendorapi.model.TicketOrderRequest;
import de.workshops.ticketvendorapi.model.TicketOrderResponse;
import de.workshops.ticketvendorapi.model.TicketReservationRequest;
import de.workshops.ticketvendorapi.model.TicketReservationResponse;
import jakarta.validation.Valid;
import org.jspecify.annotations.Nullable;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.service.annotation.HttpExchange;

import java.util.List;
import java.util.UUID;

public interface TicketVendorApi {

    /**
     * GET /event : Get all events (by an optional category and/or city)
     * Get a list of all events.
     * If a category is given, then filtered by category.
     * If a city is given, then filtered by city.
     * If both is given then 'and' filtered by category and city.
     *
     * @param category  (optional)
     * @param city  (optional)
     * @return a list of events (status code 200)
     *         or status code 204, if no events are found
     *         or ErrorModel (status code 400)
     */
    @HttpExchange(
            method = "GET",
            value = "/events",
            accept = { "application/json" }
    )
    ResponseEntity<List<Event>> getEvents(
            @RequestParam(value = "category", required = false) @Nullable EventCategory category,
            @RequestParam(value = "city", required = false) @Nullable String city
    );

    /**
     * GET /event/{id}
     * Get details for a certain event
     *
     * @param eventId  (required)
     * @return Event detail (status code 200)
     *         or status code 204, when event not found
     *         or Unexpected error (status code 400)
     */
    @HttpExchange(
        method = "GET",
        value = "/events/{id}",
        accept = { "application/json" }
    )
    ResponseEntity<Event> getEvent(
         @PathVariable(name = "id") UUID eventId
    );

    /**
     * POST /event/{id}/order
     * Order tickets for a certain event
     *
     * @param eventId  (required)
     * @param ticketOrderRequest  (required)
     * @return Ticket/s successfully ordered (status code 201)
     *         or Not enough tickets available or event sold out (status code 400)
     *         or Bad request, i.e. event id not found (status code 404)
     *         or Unexpected error (status code 400)
     */
    @HttpExchange(
        method = "POST",
        value = "/events/{id}/orders",
        accept = { "application/json" },
        contentType = "application/json"
    )
    ResponseEntity<TicketOrderResponse> orderEventTickets(
         @PathVariable(name = "id") UUID eventId,
         @RequestBody @Valid TicketOrderRequest ticketOrderRequest
    );

    /**
     * POST /event/{id}/reserve
     * Reserve tickets for a certain event
     *
     * @param eventId  (required)
     * @param ticketReservationRequest  (required)
     * @return Ticket/s successfully reserved (status code 201)
     *         or Not enough tickets available or event sold out (status code 400)
     *         or Bad request, i.e. event id not found (status code 404)
     *         or Unexpected error (status code 400)
     */
    @HttpExchange(
        method = "POST",
        value = "/events/{id}/reservations",
        accept = { "application/json" },
        contentType = "application/json"
    )
    ResponseEntity<TicketReservationResponse> reserveEventTickets(
         @PathVariable(name = "id") UUID eventId,
         @RequestBody @Valid TicketReservationRequest ticketReservationRequest
    );
}